body {
    overflow: hidden;
}
#shoots {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#shoots svg {
    position: absolute;
    transition: opacity 2s ease;
}
svg.vanish {
    opacity: 0;
}
.squid {
    position: absolute;
    width: 10%;
    opacity: 0.5;
    transition: transform 0.1s ease;
}
.hide {
    display: none;
}