@font-face {
    font-family: ProjectPaintball;
    src: url("PROJECT_PAINTBALL.OTF") format("opentype");
}

body {
    overflow: hidden;
    font-family: 'ProjectPaintball';
    margin: 0;
}
#shoots {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#shoots .splat {
    position: absolute;
    transition: opacity 2s ease;
    display: flex;
    align-items: center;
}
.hbd {
    position: relative;
    left: 50%;
    top: 35%;
    font-size: 8vh;
    color: white;
    text-shadow: 5px 5px black;
    z-index: 1;
}
.hbd.big {
    font-size: 15vh;
}
.hbd-img {
    position: relative;
    left: 53%;
    zoom: 1.5
}
.hbd-img-big {
    zoom: 4;
    z-index: 2;
}
.vanish {
    opacity: 0;
}
.squid {
    background-image: url('squids-cropped.png');
    background-size: 600%;
    background-repeat: no-repeat;
    transition: opacity 4s ease;
    opacity: 0.5;
    position: absolute;
    width: 10%;
    height: 19%;
    transition: transform 0.1s ease;
}
.name {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 1.6rem;
    color: white;
    text-shadow: 3px -2px 3px black;
}
.hide {
    display: none;
}